.help {
  background-color: #fff;
}
.contactHelp {
  width: fit-content;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  font-weight: bold;
}
.contactHelp > a {
  display: block;
  text-decoration: none;
  padding: 5px 0;
  color: black;
}
.contactHelp > a > span {
  color: var(--text-color1);
}
.helpForm form > input,
.helpForm form > textarea {
  border: none;
  border-bottom: 1px solid gray;
  padding: 20px;
}
.helpForm form > button {
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--text-color1);
  color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.helpForm form > button:hover {
  background-color: #e47105;
}
